version: "3.8"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    env_file: .env
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d/site.conf.template:/etc/nginx/templates/site.conf.template:ro
      - ../public:/var/www/html:ro
      - ${PERSIST_PATH}/certbot/conf:/etc/letsencrypt:ro
      - ${PERSIST_PATH}/certbot/www:/var/www/certbot:ro
    depends_on:
      - certbot
    networks:
      - app

  certbot:
    image: certbot/certbot
    container_name: certbot
    env_file: .env
    volumes:
      - ${PERSIST_PATH}/certbot/conf:/etc/letsencrypt
      - ${PERSIST_PATH}/certbot/www:/var/www/certbot
      - ./certbot/entrypoint.sh:/entrypoint.sh:ro
      - /var/run/docker.sock:/var/run/docker.sock
    entrypoint: "/bin/sh /entrypoint.sh"

networks:
  app:
    driver: bridge
